
@font-face {
  font-family: 'e-Ukraine', sans-serif;
  font-display: swap;
  src: url("../../public/fonts/e-ukraine/e-ukraine-medium_w.woff2") format("woff2"),
       url("../../public/fonts/e-ukraine/e-ukraine-medium_w.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}


